/bin/debug/Yana4All.exe
/bin/debug/*.o
/bin/debug/*.cpp
/bin/release/Qt5Core.dll
/bin/release/Qt5Gui.dll
/bin/release/Qt5Multimedia.dll
/bin/release/Qt5MultimediaWidgets.dll
/bin/release/Qt5Network.dll
/bin/release/Qt5OpenGL.dll
/bin/release/Qt5Positioning.dll
/bin/release/Qt5PrintSupport.dll
/bin/release/Qt5Qml.dll
/bin/release/Qt5Quick.dll
/bin/release/Qt5Sensors.dll
/bin/release/Qt5Sql.dll
/bin/release/Qt5WebKit.dll
/bin/release/Qt5WebKitWidgets.dll
/bin/release/Qt5Widgets.dll
